@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
  background: url(/public/imagens/fundo.png);
  background-color: rgba(98, 120, 247, 1);
  height: 213px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 64px;
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  ;
}